@charset "utf-8";

@import '../node_modules/bulma/bulma.sass';

.title-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: xx-large;
  color: white !important;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  color: #4a4a4a !important;
}

a.navbar-item.link-to-n:hover,
a.navbar-item.link-to-n.is-active,
.navbar-link.link-to-n:hover,
.navbar-link.link-to-n.is-active {
  color: #b80b00 !important;
}

.navbar.header {
  background: lightgray !important;
}

.navbar-item,
.navbar-item:focus,
.navbar-item:focus-within {
  background: lightgray !important;
}

body {
  color: #4a4a4a;
  background: lightgray;
}

a {
  color: white;
}

.yt-lite{
  contain: inherit !important;
}

.title {
  font-family: 'M PLUS 1p';
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
