.title-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: xx-large;
  color: white;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
  color: #4a4a4a;
}

a.navbar-item.link-to-n:hover, a.navbar-item.link-to-n.is-active, .navbar-link.link-to-n:hover, .navbar-link.link-to-n.is-active {
  color: #b80b00;
}


.navbar.header {
  background: lightgray;
}

body {
  color: #4a4a4a;
  background: lightgray;
}

a {
  color: white;
}

.iframe-youtube {
  width: 100%;
  height: 300px;
  background: black;
}

.title {
  font-family: "M PLUS 1p";
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
